@use 'variables' as *;
@use 'mixins' as *;
@use "sass:color";

.site-footer {
  background: $color-fondo;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .site-footer__social {
    display: flex;
    gap: 1rem;

    a {
      display: inline-block;
      img {
        width: 1.625rem;
        height: 1.625rem;
        transition: all 0.3s ease;
      }

      &:hover img {
        transform: translateY(-0.1875rem);
      }
    }
  }

  .site-footer__legal {
    text-align: center;

    p {
      margin-bottom: 0.3rem;
      font-family: $font-primary;
    }

    .legal-links {
      display: inline-flex;
      gap: 0.5rem;

      a {
        color: $color-secondary;
        text-decoration: none;
        font-size: 0.85rem;
        font-family: $font-primary;
        transition: color 0.3s ease;

        &:hover {
          color: $primary-color-hover;
        }
      }
    }
  }

/* --- Breakpoints --- */

  @include respond-to(tablet) {
    padding: 2rem 1.5rem;

    .site-footer__social img {
      width: 1.875rem;
      height: 1.875rem;
    }

    .site-footer__legal .legal-links a {
      font-size: 0.9rem;
    }
  }


  @include respond-to(laptop) {
    padding: 1rem 2rem;
    margin: 0;

    .site-footer__social img {
      width: 1.875rem;
      height: 1.875rem;
    }

    .site-footer__legal .legal-links a {
      font-size: 1rem;
    }
  }


  @include respond-to(desktop) {
    padding: 3rem 3rem;

    .site-footer__social img {
      width: 1.875rem;
      height: 1.875rem;
    }

    .site-footer__legal .legal-links a {
      font-size: 1rem;
    }
  }
}